{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import '_macros.html' as macros %}
{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}

{% block page_content %}
<div class="page-header">
    {% if current_user.is_authenticated %}
    <p>hello, {{ current_user.name }}</p>
    <p>version 0.0.2: 支持Markdown语法，<a href="http://www.jianshu.com/p/1e402922ee32/" target="_blank">Markdown语法</a></p>
    {% else %}
    <p>stranger</p>
    {% endif %}
</div>
<div>
    {% if current_user.can(Permission.WRITE_ARTICLES) %}
    {{ wtf.quick_form(form) }}
    {% endif %}
</div>
{% include '_posts.html' %}
{% if pagination %}
    <div class="pagination">
        {{ macros.pagination_widget(pagination, '.index') }}
    </div>
{% endif %}
{% endblock %}
